/weights/policy_storage/
/weights/policy_dump/
/data/
/.ipynb_checkpoints/
/profile_storage/
/wandb/
/test_results/
/lib/models/pretrained/
/sweep_configs/
/log/
/gifs/
/results/*
!/results/analysis.ipynb
/dump/
!/dump/Kolmogorov22_ppo_cgs1_fgs16/
/XLB/
/storage/
/init_fields/
/closure_discovery/log/
/closure_discovery/wandb/
/closure_discovery/log/
/closure_discovery/dump/



*__pycache__/
